*, a::before, a::after {
  margin:0;
  box-sizing: inherit;
}
body {
  background-color: indigo;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-container, .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  min-height: 80vh;
  min-width: 800px;
  max-width: 60vw;
  padding: 24px;
}
.signup-container input, .login-container input {
  margin: 20px;
  padding: 4px 8px;
  font-size: 1.2em;
  line-height: 1.6em;
  width: 400px;
  border-radius: 10px;
}
.signup-container button, .login-container button {
  margin: 20px;
  padding: 8px 16px;
  font-size: 1.2em;
  line-height: 1.6em;
  border-radius: 10px;
  background-color: purple;
  color: #FFFFFF;
  border-color: purple;
  box-shadow: 1px 1px 1px 1px rgba(33,33,33,0.3);
}
.signup-container button:disabled, .login-container button:disabled {
  background-color: gray;
  border-color: gray;
}
.login-container h3 {
  padding:20px 0;
}

.userList {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.userList > .singleUser {
  padding: 10px;
}